<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>329305730892-jkhp5noqttvrv69nogrfmqp9g4sqb9m1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329305730892-jkhp5noqttvrv69nogrfmqp9g4sqb9m1</string>
	<key>API_KEY</key>
	<string>AIzaSyBHLLxXVzlEy2wUC2NbZFX7u8zOk8XbpfA</string>
	<key>GCM_SENDER_ID</key>
	<string>329305730892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.livrolivre</string>
	<key>PROJECT_ID</key>
	<string>teste-livro-livre</string>
	<key>STORAGE_BUCKET</key>
	<string>teste-livro-livre.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:329305730892:ios:5af527b17b742cd76269e9</string>
</dict>
</plist>